In [3]:
import pandas as pd
import numpy as np
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily',
'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
 'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
 'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data , index=labels)
print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [13]:
import pandas as pd
data = data=[['john',28],['anna',24],['peter',35],['linda',32]]
df=pd.DataFrame(data,columns=['name','age'])
df=pd.DataFrame(data)
print(df.head())

    Name  Age
0   John   28
1   Anna   24
2  Peter   35
3  Linda   32

In [15]:
import pandas as pd
data=[['john',28],['anna',24],['peter',35],['linda',32]]
df=pd.DataFrame(data,columns=['name','age'])
print(df.head())

    name  age
0   john   28
1   anna   24
2  peter   35
3  linda   32

In [19]:
import pandas as pd
data=[['john',28],['anna',24],['peter',35],['linda',32]]
df=pd.DataFrame(data,columns=['name','age'])
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    4 non-null      object
 1   age     4 non-null      int64
dtypes: int64(1), object(1)
memory usage: 196.0+ bytes
None

In [21]:
import pandas as pd
data=[['john',28],['anna',24],['peter',35],['linda',32]]
df=pd.DataFrame(data,columns=['name','age'])
print(df['name'])

0     john
1     anna
2    peter
3    linda
Name: name, dtype: object

In [33]:
import pandas as pd
data={'Name': ['John', 'Anna', 'Peter', 'Linda'],'Age': [28, 24, 35, 32]}
df=pd.DataFrame(data)
print(df[['Name','Age']])

    Name  Age
0   John   28
1   Anna   24
2  Peter   35
3  Linda   32

In [35]:
import pandas as pd
data={'Name':['john','anna','peter','linda'],'Age':[28,24,35,32]}
df=pd.DataFrame(data)
df['salary']=[5000,5400,6000,5800]
print(df)

    Name  Age  salary
0   john   28    5000
1   anna   24    5400
2  peter   35    6000
3  linda   32    5800

In [37]:
data = {'Name': ['John', 'Anna', 'Peter', 'Linda'],
 'Age': [28, 24, 35, 32]}
df = pd.DataFrame(data)
df['Salary'] = [50000, 54000, 58000, 60000]
df = df.drop('Salary', axis=1) 
print(df)

    Name  Age
0   john   28
1   anna   24
2  peter   35
3  linda   32

In [39]:
data = {'Name': ['John', 'Anna', 'Peter', 'Linda'],
 'Age': [28, 24, 35, 32]}
df = pd.DataFrame(data)
df['Salary'] = [50000, 54000, 58000, 60000]
df = df.drop('Salary', axis=1)
adults = df[df['Age'] > 30]
print(adults)

    Name  Age
2  Peter   35
3  Linda   32

In [45]:
data = {'Name': ['John', 'Anna', 'Peter', 'Linda'],'Age': [28, 24, 35, 32]}
df = pd.DataFrame(data)
df['Salary'] = [50000, 54000, 58000, 60000]
df = df.drop('Salary', axis=1)
adults = df[df['Age'] > 30]
df=df.sort_values(by='Age')
print(df)

    Name  Age
1   Anna   24
0   John   28
3  Linda   32
2  Peter   35

In [47]:
data = {'Name': ['John', 'Anna', 'Peter', 'Linda'],
 'Age': [28, 24, 35, 32]}
df = pd.DataFrame(data)
df['Salary'] = [50000, 54000, 58000, 60000]
df = df.drop('Salary', axis=1)
adults = df[df['Age'] > 30]
df=df.sort_values(by='Age')
aa=df['Age'].mean()
print(aa)

29.75

In [53]:
import pandas as pd
data={'Name':['john','anna','peter','linda','john'],'Age':[28,24,35,32,30],
     'salary':[5000,5400,5800,6000,5200]}
df=pd.DataFrame(data)
gro=df.groupby('Name').mean()
print(gro)

        Age  salary
Name
anna   24.0  5400.0
john   29.0  5100.0
linda  32.0  6000.0
peter  35.0  5800.0

In [73]:
import pandas as pd
student_data1 = pd.DataFrame({
 'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
 'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 
'Kwame Morin'], 
 'marks': [200, 210, 190, 222, 199]})
student_data2 = pd.DataFrame({
 'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
 'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'KaiserWilliam', 'Madeeha Preston'], 
 'marks': [201, 200, 198, 219, 201]})
print("Original DataFrames:")
print(student_data1)
print("-------------------------------------")
print(student_data2)
print("\nJoin the said two dataframes along rows:")
result_data = pd.concat([student_data1, student_data2])
print(result_data)

Original DataFrames:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
-------------------------------------
  student_id              name  marks
0         S4  Scarlette Fisher    201
1         S5  Carla Williamson    200
2         S6       Dante Morse    198
3         S7     KaiserWilliam    219
4         S8   Madeeha Preston    201

Join the said two dataframes along rows:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
0         S4  Scarlette Fisher    201
1         S5  Carla Williamson    200
2         S6       Dante Morse    198
3         S7     KaiserWilliam    219
4         S8   Madeeha Preston    201

In [85]:
import pandas as pd
data = {
 'Company': ['A', 'A', 'A', 'B', 'B', 'B'],
 'Department': ['HR', 'IT', 'Finance', 'HR', 'IT', 'Finance'],
 'Employee': ['John', 'Alice', 'Steve', 'Bob', 'James', 'Linda'],
 'Salary': [50000, 70000, 60000, 55000, 65000, 62000]
}
df=pd.DataFrame(data)
df.set_index(['Company','Department','Employee'],inplace=True)
print("\n dataframe with hierarchical index:")
print(df)

 dataframe with hierarchical index:
                             Salary
Company Department Employee
A       HR         John       50000
        IT         Alice      70000
        Finance    Steve      60000
B       HR         Bob        55000
        IT         James      65000
        Finance    Linda      62000

In [113]:
import pandas as pd
data = {
 'Company': ['A', 'A', 'A', 'B', 'B', 'B'],
 'Department': ['HR', 'IT', 'Finance', 'HR', 'IT', 'Finance'],
 'Employee': ['John', 'Alice', 'Steve', 'Bob', 'James', 'Linda'],
 'Salary': [50000, 70000, 60000, 55000, 65000, 62000]
}
df = pd.DataFrame(data)
print(df)
df.set_index(['Company', 'Department', 'Employee'], inplace=True)
print("\nDataFrame with Hierarchical Index:")
print(df)
unstacked = df.unstack(level='Department')
print(unstacked)

  Company Department Employee  Salary
0       A         HR     John   50000
1       A         IT    Alice   70000
2       A    Finance    Steve   60000
3       B         HR      Bob   55000
4       B         IT    James   65000
5       B    Finance    Linda   62000

DataFrame with Hierarchical Index:
                             Salary
Company Department Employee
A       HR         John       50000
        IT         Alice      70000
        Finance    Steve      60000
B       HR         Bob        55000
        IT         James      65000
        Finance    Linda      62000
                   Salary
Department        Finance       HR       IT
Company Employee
A       Alice         NaN      NaN  70000.0
        John          NaN  50000.0      NaN
        Steve     60000.0      NaN      NaN
B       Bob           NaN  55000.0      NaN
        James         NaN      NaN  65000.0
        Linda     62000.0      NaN      NaN

In [119]:
import pandas as pd
data = {
 'Company': ['A', 'A', 'A', 'B', 'B', 'B'],
 'Department': ['HR', 'IT', 'Finance', 'HR', 'IT', 'Finance'],
 'Employee': ['John', 'Alice', 'Steve', 'Bob', 'James', 'Linda'],
 'Salary': [50000, 70000, 60000, 55000, 65000, 62000]
}
df = pd.DataFrame(data)
df.set_index(['Company', 'Department', 'Employee'], inplace=True)
stacked = unstacked.stack(level='Department')
print(stacked)

                              Salary
Company Employee Department
A       Alice    IT          70000.0
        John     HR          50000.0
        Steve    Finance     60000.0
B       Bob      HR          55000.0
        James    IT          65000.0
        Linda    Finance     62000.0

C:\Users\T Rajashekar\AppData\Local\Temp\ipykernel_6056\684271865.py:10: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  stacked = unstacked.stack(level='Department')

In [123]:
import pandas as pd
data = {
 'Company': ['A', 'A', 'A', 'B', 'B', 'B'],
 'Department': ['HR', 'IT', 'Finance', 'HR', 'IT', 'Finance'],
 'Employee': ['John', 'Alice', 'Steve', 'Bob', 'James', 'Linda'],
 'Salary': [50000, 70000, 60000, 55000, 65000, 62000]
}
df = pd.DataFrame(data)
df.set_index(['Company', 'Department', 'Employee'], inplace=True)
print("\nDataFrame with Hierarchical Index:")
print(df)
average_salary = df.groupby(level=['Company', 'Department']).mean()
print("\nAverage Salary by Company and Department:")
print(average_salary)

DataFrame with Hierarchical Index:
                             Salary
Company Department Employee
A       HR         John       50000
        IT         Alice      70000
        Finance    Steve      60000
B       HR         Bob        55000
        IT         James      65000
        Finance    Linda      62000

Average Salary by Company and Department:
                     Salary
Company Department
A       Finance     60000.0
        HR          50000.0
        IT          70000.0
B       Finance     62000.0
        HR          55000.0
        IT          65000.0