In [57]:
import numpy as np
import pandas as pd
data={
    'NAME':['RAJU','VAMSI','RAVI','PRASAD'],
    'DEPARTMENT':['AIDS','CSE','CS','EEE'],
    'FEES':[20000,30000,10050,np.nan],
    'age':[20,19,30,np.nan]
}
df=pd.DataFrame(data)
df_renamed = df.rename(columns={'NAME':'N','DEPARTMENT':'D','FEES':'F'})
df['FEES'].fillna('50000',inplace=True)
df['FEES']=df['FEES'].astype(int)
df['age'].fillna('19',inplace=True)
df['age']=df['age'].astype(int)
print('data of the students:')
print(df)

data of the students:
     NAME DEPARTMENT   FEES  age
0    RAJU       AIDS  20000   20
1   VAMSI        CSE  30000   19
2    RAVI         CS  10050   30
3  PRASAD        EEE  50000   19

C:\Users\T Rajashekar\AppData\Local\Temp\ipykernel_18308\3181961344.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['FEES'].fillna('50000',inplace=True)
C:\Users\T Rajashekar\AppData\Local\Temp\ipykernel_18308\3181961344.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '50000' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['FEES'].fillna('50000',inplace=True)
C:\Users\T Rajashekar\AppData\Local\Temp\ipykernel_18308\3181961344.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['age'].fillna('19',inplace=True)
C:\Users\T Rajashekar\AppData\Local\Temp\ipykernel_18308\3181961344.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '19' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['age'].fillna('19',inplace=True)

In [60]:
import pandas as pd
data = {
 'Color': ['Red', 'Blue', 'Green', 'Blue', 'Red'],
 'Size': ['S', 'M', 'L', 'XL', 'L']
}
df = pd.DataFrame(data)
# Create dummy variables
df_dummies = pd.get_dummies(df, columns=['Color', 'Size'])
print("Original DataFrame:\n", df)
print("\nDataFrame with Dummy Variables:\n", df_dummies)

Original DataFrame:
    Color Size
0    Red    S
1   Blue    M
2  Green    L
3   Blue   XL
4    Red    L

DataFrame with Dummy Variables:
    Color_Blue  Color_Green  Color_Red  Size_L  Size_M  Size_S  Size_XL
0       False        False       True   False   False    True    False
1        True        False      False   False    True   False    False
2       False         True      False    True   False   False    False
3        True        False      False   False   False   False     True
4       False        False       True    True   False   False    False