In [10]:
import pandas as pd
data = {
 'Age': [19,20,22,25],
 'Salary': [20000, 30000, 50000, 40000]
}
df = pd.DataFrame(data)
mean_age = df['Age'].mean()
mean_salary = df['Salary'].mean()
print("Mean Age:", mean_age)
print("Mean Salary:", mean_salary)

Mean Age: 21.5
Mean Salary: 35000.0

In [14]:
import pandas as pd
data = {
 'Age': [ 19,20,22,25,30],
 'Salary': [ 2000,3000,5000,4000,1000]
}
df = pd.DataFrame(data)
median_age = df['Age'].median()
median_salary = df['Salary'].median()
print("Median Age:", median_age)
print("Median Salary:", median_salary)

Median Age: 22.0
Median Salary: 3000.0

In [26]:
import pandas as pd
data={
    'age':[23,45,22,27,35,50,41,33,31,29]
}
df=pd.DataFrame(data)
print(df)
bins=[20,30,40,50,60]
labels=['20-30','30-40','40-50','50-60']
df['age_group']=pd.cut(df['age'],bins=bins,labels=labels,right=False)
print(df)
age_group_count=['age_group']
print(age_group_count)

   age
0   23
1   45
2   22
3   27
4   35
5   50
6   41
7   33
8   31
9   29
   age age_group
0   23     20-30
1   45     40-50
2   22     20-30
3   27     20-30
4   35     30-40
5   50     50-60
6   41     40-50
7   33     30-40
8   31     30-40
9   29     20-30
['age_group']